@page
@model RazorPagesUI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="css/site.css" />
<link rel="stylesheet" href="css/login.css">

<section class="login"> 
    <form method="post" class="container">
        <h1>Log In!</h1>  
        <input type="text" class="form-input" id="userName" asp-for="User.UserName">
        <input type="text" class="form-input" id="password" asp-for="User.Password">
        <button type="submit" class="login-btn">LogIn</button>
        <div class="signin-redirect">
            <p>Have no account?</p>
            <button>Sign In</button>
        </div>
        
    </form>
</section>